//colors
$blackColor:rgb(24 24 24);
$whiteColor:rgb(222, 222, 187);
$greenColor:green;
$redColor:tomato;
$magentaColor:magenta;
$yellowColor:gold;

$colorNewGreen:LimeGreen;
$MidnightBlue:rgb(157, 166, 212);
$colorNewYELLOW:Orange;


//fonts
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont:'Times New Roman', Times , serif;


//button style MainPge
@mixin buttonStyle{
    width:200px;
    background-color: $redColor;
    border:none;
    border-radius: 10px; 
    color:$whiteColor;  
    font-size: 1.5rem;
}


//button style Mytext
@mixin buttonStyleSecond($color , $fontSize){
    width:200px;
    background-color:$magentaColor;
    border:none;
    border-radius: 10px; 
    color: $color;  
    font-size: $fontSize;
}