
.App {
  text-align: center;
}



/*-----------------my try--------------------------------------------*/




#cards_article{
  border:1px solid red;
  padding:0.5em;
  margin:1em;

  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


/* .card{
  margin:0.5em;
} */

#carusel_title{
  padding:1em;
  border:3px solid indigo;
  margin:1em 1.5em;
}

li.nav-item a{
  text-align: left;
}

@media(min-width:768px){
  #news-input{
    width:50%;
  }
}

/*-------------------------------newsletter----------------------------------------------------*/

#userEmailValue{
  background-color: DimGray;
}

#userEmailValue:hover{
  background-color: green;
  transition: 1s;
}

/*------------------------------learn section---------------------------------------------------*/
#cake_img , #plate_img, #SPRINGTREE_img, #MYPHOTO_img, #cat_img, #copy_img{
  border-radius: 10px;
  box-shadow: 1px 2px 3px grey;
}

#learn , #learn2{
  text-align: left;
}
